.chart {
	padding: 20px;
}
.infocard-tall {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}
.infocard-tall.small {
	text-align: center;
	display: inline-block;
}
.top{
	width:100%; 
	text-align:center;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
#pic1 {
}

.left {
	margin-left: 20px;
	width: 40%;
	float:left;}
.right {
    margin-right: 10%;
	width: 40%;
	float:right;
}
#evo {
	margin-left: 375px;
	width: 50%;
	clear:both;
}